
/*    MAIN STYLES    */

* {
  box-sizing: border-box;
}
html, body {margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 5px rgba(255,0,0,0.2);
  background-color: #1382e9;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.box {
  height: 100%;
}
h1 {
  margin: 0;
  }
.title {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  padding-top: 100px;
  color: white;
  text-align: center;
}





/*    MAIN BUBBLE    */

.mainPhrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  width: 85%;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.1;
  text-align: center;
}
.mainBubble {
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  width: 57%;
  height: 380px;
  padding: 0px;
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
  border-radius: 190px;
  box-shadow: 0px 5px 25px rgba(255,0,0,0.2);
}

.mainBubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 20px 20px 0;
border-color: rgba(255,255,255,0.3) transparent;
display: block;
width: 0;
z-index: 1;
bottom: -20px;
left: 48%;
}



/*    INFO BOX    */

.infoBox {
  margin-top: 50px;
  position: relative;
  height: 50px;
}
.infoWrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -52%);
  width: 44%;
  padding-right: 1%;
}

.temp, .city, .time, .icon {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 20px;
  float: left;
  text-shadow: 1px 1px 2px rgba(255,0,0,0.2);
}
.icon
{
  padding-top: 15px;
  padding-left: 3%;
  width: 18%;
}
.temp {
  width: 26%;
}
.city {
  width:34%;
}
.time {
  width:22%;
}



/*    PHRASE BUBBLES    */

.bubblesBox {
  margin-top: 110px;
  position: relative;
}
.bubblesWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bubble {
  margin: 0 10px;
  position: relative;
  padding: 20px;
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  box-shadow: 0px 3px 10px rgba(255,0,0,0.2);

  width: 22%;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 12px 0;
  border-color: rgba(255,255,255,0.3) transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -12px;
  left: 45%;
}

.propBubble {
  height:100%;
  min-height:120px;
}
.foodBubble {
  height:100%;
  min-height:120px;
  cursor: pointer;
}
.activityBubble {
  height:100%;
  min-height:120px;
  cursor: pointer;
}
.mtaBubble {
  height:100%;
  min-height:120px;
}
.clickable {
  cursor:pointer;
}

.mtaAlertBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 1.2rem;
}

.subTitle {
  position: absolute;
  bottom: -80px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-weight: 100;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(255,0,0,0.2);
}



/*    MTA POPOVERS    */

/* Outer (specific) popover box which houses mtaAlertBox */
  /* Margin & padding adjustments are a hacky way to make the popover titles appear how I'd like*/

/* Popover heading */
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.popover {
    background: tomato;
    padding: 10px;
    font-size: 16px;
    /*font-family: 'Raleway', sans-serif;*/
}
.popup{
 padding-top: 20px;
 float: left;
 padding-left: 40px;
 }

.phrases .popover {
  background-color: transparent;
  border: none;
  max-width: 450px;
  margin: 0px;
  padding: 0px;
}

/* Inner (specific) popover box which houses mtaAlertBox */
.phrases .popover-content.ng-binding {
  padding: 0px;
  margin: 0px;

}

/* Inner popover container */
.mtaTitle {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18pt;
  font-weight: normal;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
  margin: 0;
  padding: 8px 14px;
  border-radius: 10px 10px 0px 0px;
}

.mtaDetails {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16pt;
  color: white;
  width: 350px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  padding: 8px 20px 8px 14px;
  border-radius: 0px 0px 10px 10px;
  /*margin-right: 0px;*/
  width: 100%;
}

.mtaDetails a {
  color: white;
}

.mtaDetails b {
  font-weight: normal;
}



/* BACKGROUND ANIMATIONS */

.clear-day, .partly-cloudy-day, .clear-night, .partly-cloudy-night, .cloudy, .rain, .fog, .snow, .sleet {
  background-position: 0px 0px;
  background-repeat: repeat;
  height: 100%;
  overflow-y: auto;

  animation: bganimCloud 50s linear infinite;
}



/* WEATHER SPECIFICS */

/**/
.clear-day {
  background-image: url('../assets/bg_clear_day.png');
}
.clear-day .phrases .mtaTitle,
.clear-day .mtaDetails tr {
  background-color: rgb(255, 60, 0) !important;
}
.clear-day .phrases .mtaDetails {
  background-color: tomato;
}
.clear-day .phrases .popover.left>.arrow:after {
  border-left-color: tomato;
}

/**/
.clear-night {
  background-image: url('../assets/bg_clear_night.png');
}
.clear-night .phrases .mtaTitle,
.clear-night .mtaDetails tr {
  background-color: grey !important;
}
.clear-night .phrases .popover {
  background-color: darkgrey;
}
.clear-night .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}

/**/
.partly-cloudy-day {
  background-image: url('../assets/bg_partly_cloudy_day.png');
}
.partly-cloudy-day .phrases .mtaTitle,
.partly-cloudy-day .mtaDetails tr {
  background-color: grey !important;
}
.partly-cloudy-day .phrases .popover {
  background-color: darkgrey;
}
.partly-cloudy-day .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}

/**/
.partly-cloudy-night {
  background-image: url('../assets/bg_partly_cloudy_night.png');
}
.partly-cloudy-night .phrases .mtaTitle,
.partly-cloudy-night .mtaDetails tr {
  background-color: grey !important;
}
.partly-cloudy-night .phrases .popover {
  background-color: darkgrey;
}
.partly-cloudy-night .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}

/**/
.cloudy {
  background-image: url('../assets/bg_cloudy.png');
}
.cloudy .phrases .mtaTitle,
.cloudy .mtaDetails tr {
  background-color: grey !important;
}
.cloudy .phrases .popover {
  background-color: darkgrey;
}
.cloudy .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}

/**/
.fog {
  background-image: url('../assets/bg_fog.png');
}
.fog .phrases .mtaTitle,
.fog .mtaDetails tr {
  background-color: grey !important;
}
.fog .phrases .popover {
  background-color: darkgrey;
}
.fog .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}

/**/
.windy {
  background-image: url('../assets/bg_cloudy.png');
  height: 100%;
  animation: bganimCloud 7s linear infinite;
}
.windy .phrases .mtaTitle,
.windy .mtaDetails tr {
  background-color: grey !important;
}
.windy .phrases .popover {
  background-color: darkgrey;
}
.windy .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}


@keyframes bganimCloud {
  from { background-position: 0 0; }
  to { background-position: 596px 0; }
}

/**/
.rain {
  background-image: url('../assets/bg_rain.png');
  height: 100%;
  animation: bganimRain 1.5s linear infinite;
}
.rain .phrases .mtaTitle,
.rain .mtaDetails tr {
  background-color: darkgrey !important;
}
.rain .phrases .popover {
  background-color: grey;
}
.rain .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}

/**/
.snow, .sleet {
  background-image: url('../assets/bg_snow.png');
  height: 100%;

  animation: bganimRain 15s linear infinite;
}
.snow .phrases .mtaTitle,
.snow .mtaDetails tr {
  background-color: darkgrey !important;
}
.snow .phrases .popover {
  background-color: grey;
}
.snow .phrases .popover.left>.arrow:after {
  border-left-color: grey;
}

@keyframes bganimRain {
  from { background-position: 0 0; }
  to { background-position: 0 596px; }
}



/* OTHER */

/* Time indicator animation */

.clear-day-Star, .partly-cloudy-day-Star {
  position: absolute;
  background-image: url('../assets/sun.png');
  width: 300px;
  height: 300px;
  position: absolute;
  top: 500px;
  /*left: 40%;
  animation: sunanm 43200s infinite linear;*/
  z-index: 1  ;
}


@keyframes sunanm {
  from {
    transform: rotate(-150deg)
               translateX(1000px)
               rotate(150deg);

  }
  to {
    transform: rotate(-30deg)
               translateX(1000px)
               rotate(30deg);
  }
}
.rain-Star, .cloudy-Star, .rain-Star, .fog-Star, .snow-Star, .sleet-Star {
  position: absolute;
  background-image: url('../assets/cloud.png');
  width: 300px;
  height: 300px;
  position: absolute;
  top: -500px;
  /*left: 40%;
  animation: rainSunanm 43200s infinite linear;*/
  z-index: 2;
}


@keyframes rainSunanm {
  from {
    transform: rotate(-150deg)
               translateX(1000px)
               rotate(150deg);

  }
  to {
    transform: rotate(-30deg)
               translateX(1000px)
               rotate(30deg);
  }
}

.positionMoon {
  position: absolute;
  background-image: url('../assets/Moon_1.png');
  background-position: 0px 0px;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  top: -500px;
  /*left: 40%;*/
  z-index: 2;

  /*animation: moonanm 40s linear infinite;*/
}
.rain-Star.positionMoon, .cloudy-Star.positionMoon, .rain-Star.positionMoon,
.fog-Star.positionMoon, .snow-Star.positionMoon, .sleet-Star.positionMoon {
  background-image: url('../assets/rain.png');
}

/*
@keyframes moonanm {
  from {  transform: rotate(255deg) translateY(360%) rotate(255deg); }
  to   {  transform: rotate(115deg) translateY(360%) rotate(115deg); }
} */
