<div class="{{ weatherEvent }}-Star positionSun"></div>
<div class="{{ weatherEvent }}-Star positionMoon"></div>
   <!-- background animations-->
<div class="{{ weatherEvent }}">
<!-- <div class="clear-night"> -->
<!-- <script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
<audio src="../audio/bestofalltime.mp3" preload="auto"/> -->


  <!--  -->
  <h1 class="title">&mdash; Chatty Weather &mdash;</h1>
  <div class="wrapper">
    <div class="mainBubble">
        <div class="popup clickable" uib-popover-html="popover">Hourly Weather</div>
      <div class="mainPhrase"><p>{{phrase}}</div>
    </div>


    <div class="infoBox">
      <div class="infoWrapper">
        <div class="icon">
            <canvas id="{{ weatherEvent }}" width="64" height="64"></canvas>
        </div>
        <div class="temp">{{ temp }}</div>
        <div class="city">{{ city }}</div>
        <div class="time">{{ time }}</div>
        <!-- <div class="hourly">{{timeWeather}}</div> -->

  <!--   <table class="table">
    <tr ng-repeat="data in hourly">
    <td>{{data.temperature}}</td>
    <td>{{data.time}}</td> -->
<!--
<div ng-repeat="">
    <p ng-bind-html="trustAsHtml(question.body)"></p>
</div>
    </tr> -->
    <!-- ##############MUSIC############ -->
     <!-- <div class="container" ng-controller="MusicController" id="musicPlayer">
        <div class="row">
            <div class="col-md-12">

                <h5>Songs</h5>
                <ul> -->
                <!--     <li ng-repeat="song in songs">
                        <button type="button" class="btn btn-primary" music-player="play" add-song="song">{{ song.title }}</button>
                        <button type="button" class="btn btn-primary" music-player add-song="song">+</button>
                    </li>
                </ul> -->

               <!--  <button play-all="songs">Play all</button> -->

       <!--      </div>
        </div> -->

        <!-- <hr />

        <div class="row">
            <div class="col-md-12"> -->
                <!-- init soundManager2 player -->
                <sound-manager></sound-manager>

               <!--  <p>
                    Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
                </p> -->

                <!-- <div class="seekBase" seek-track>
                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                </div> -->
                <!-- <br /> -->
               <!--  <button type="button" class="btn btn-primary" play-music>Play</button>
                -
                <button type="button" class="btn btn-primary" pause-music>Pause</button>
                -
                <button type="button" class="btn btn-primary" stop-music>Stop</button>
                -
                <button type="button" class="btn btn-primary" repeat-music>Repeat ({{ repeat }})</button>
                -
                <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button> -->

                <!-- Is Playing: {{ isPlaying }} -->
                <!-- <br/> -->
                <!-- <br/>Volume: {{ volume }} -
                <button music-volume data-type="increase">+</button>
                -
                <button music-volume data-type="decrease">-</button> -->
                <!-- -
                <button type="button" class="btn btn-primary" mute-music>Mute ({{ mute }})</button>
                <br/>
                <br/>
                <button type="button" class="btn btn-primary" prev-track>Prev Track</button>
                -
                <button type="button" class="btn btn-primary" type="button" class="btn btn-primary" next-track>Next Track</button>
                -
                <button clear-playlist>Clear Playlist</button>
                <br/>
                <br/> -->
                <!-- <h5>Playlist</h5>
                <ul>
                    <li ng-repeat="song in playlist">
                        <a play-from-playlist="song">{{ song.title }}</a>
                        -
                        <a remove-from-playlist="song" data-index="{{$index}}">
                            <small>(remove)</small>
                        </a>
                        <span ng-if="currentPlaying.id == song.id"> - (current)</span>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
 <!--      </div>
    </div> -->
    <!-- ##############End MUSIC############ -->
    <div class="bubblesBox">

      <div class="bubblesWrapper">

        <div class="bubble propBubble">
          <div class="phrases">{{prop}}</div>
          <div class="subTitle">Props</div>
        </div>

        <div class="bubble foodBubble phrases" ng-click="getFoodTerm()">
          <div class="phrases">{{food[0]}}</div>
          <div class="subTitle">Foods</div>
        </div>

        <div class="bubble foodBubble phrases"  ng-controller="MusicController">
          <div class="phrases">
            <li ng-repeat="song in songs">
              <div class="phrases" music-player="play" add-song="song">{{ song.title }}</div>
              <div class="phrases" music-player add-song="song">+</div>
            </li>
          Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
          </div>
          <div class="subTitle">Song</div>
        </div>

        <div class="bubble activityBubble phrases" ng-click="getActivityTerm()">
          <div class="phrases">{{activity[0]}}</div>
          <div class="subTitle">Activities</div>
        </div>
        <div ng-show="city === 'New York'" class="bubble mtaBubble phrases">
          <div class="mtaAlertBox">
            <div ng-repeat="alert in mtaAlert" class="phrases">
              <span class="clickable" ng-click="assignDetail(alert)" popover-placement="left" uib-popover-html="alertDetails" >{{alert.summary}}</span>
                <!-- Static HTML -->
              <!-- <span class="clickable" ng-click="displayAlert(alert)" uib-popover-html="alertDetails" >{{alert.summary}}</span> -->
                <!-- http://stackoverflow.com/questions/37557147/angular-ui-bootstrap-dynamic-popover-template-id -->
                <!-- http://stackoverflow.com/questions/34797218/dynamically-creating-ng-templates-to-show-popover-content-using-angular-ui-boots -->
              <!-- <span class="clickable" uib-popover-template="alertDetails.html" popover-trigger="mouseenter">{{alert.summary}}</span> -->
                <!-- ng-click="displayAlert(alert)" -->
              <!-- uib-popover-template="myTemplate_row.html" popover-trigger="mouseenter"> -->
            </div>
          </div>
          <div class="subTitle">MTA alerts</div>
        </div>

      </div>
    </div>


  </div>
</div>